<% layout('layout/page.ejs') %>
<img src="<%= picture %>" class="img-rounded" width="1500" height="690" style="position:absolute; left: 0px; top: 240px; right:0px"/>
<h1><%= title %></h1>
<p><%= about %></p>